.Header {
  ul {
    button {
      color: green;
      &.signOrNot {
        color : red;
      }
    }
    li {
      a {
        &.active {
          color: red;
        }
      }
    }
  }
}